<a href="https://colab.research.google.com/github/LinarKulinar/Data-Analysis-Tools-SSAU/blob/main/Lab_1_Pandas_6133_Akhmetov.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Лабораторная работа 1
Pandas

Выполнил: 6133-010402D, Ахметов Линар Габдуллаевич

In [1]:
import pandas as pd

Используемый набор данных `young-people-survey` доступен на [Kaggle](https://www.kaggle.com/datasets/miroslavsabo/young-people-survey) и склонирован на [мой Github](https://github.com/LinarKulinar/Data-Analysis-Tools-SSAU/tree/main/data)

In [2]:
# Загрузим с Githib датасет
url_columns = 'https://raw.githubusercontent.com/LinarKulinar/Data-Analysis-Tools-SSAU/main/data/columns.csv'
url_responses = 'https://raw.githubusercontent.com/LinarKulinar/Data-Analysis-Tools-SSAU/main/data/responses.csv'

# Задание 1

*Считать в pandas DataFrame любой источник данных:  CSV, JSON, Excel-файл, HTML-таблицу, встроенный датасет sklearn. Опишите ваши данные, что обозначает каждый столбец, какого типа (категориальный, вещественный, целочисленный, бинарный) данный столбец, при необходимости для категориальных в том числе бинарных признаков привести расшифровку их значений. В общем, проведите "визуальный" анализ ваших данных.*

In [3]:
df_columns = pd.read_csv(url_columns)
df_responses = pd.read_csv(url_responses)

Датасет состоит из 150 столбцов (из них 139 - целочисленных и 11 - категориальных)

Одна строка - ответ на опрос одного изх студентов факультета статистики FSEV UK (граждане Словакии от 15 до 30 лет).

Данные содержат пропуски

Все столбцы можно разделить на следующие группы:

- Музыкальные предпочтения (19 столбцов)
- Предпотения в фильмах (12 пунктов)
- Хобби и интересы (32 шт.)
- Фобии (10 шт.)
- Здоровые привычки (3 предмета)
- Черты характера, взгляды на жизнь и мнения (57 пунктов)
- Привычки (7 пунктов)
- Демографические особенности (10 элементов)

Расшифровку всех признаков можно найти на [странице датасета на kaggle](https://www.kaggle.com/datasets/miroslavsabo/young-people-survey) в абзаце "Questionnaire"

В таблице df_responses названия столбцов сокращены, маппинг формулировки вопроса и сокращенного названия можно найти в таблице `df_columns`

In [4]:
# for i in df_columns['short']:
#     print(i)

# Задание 2

*2 Выполните с датафреймом следующие операции (многие операции можно совершить не одним способом, используйте все известные вам способы, поищите/придумайте новые способы)*

In [5]:
#todo

## 2.1 Вывод таблицы

In [6]:
df_columns

                              original                     short
0          I enjoy listening to music.                     Music
1                            I prefer.  Slow songs or fast songs
2                   Dance, Disco, Funk                     Dance
3                           Folk music                      Folk
4                              Country                   Country
..                                 ...                       ...
145                               I am       Left - right handed
146         Highest education achieved                 Education
147                I am the only child                Only child
148  I spent most of my childhood in a            Village - town
149  I lived most of my childhood in a    House - block of flats

[150 rows x 2 columns]

In [7]:
df_responses

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Age,Height,Weight,Number of siblings,Gender,Left - right handed,Education,Only child,Village - town,House - block of flats
0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0,...,20.0,163.0,48.0,1.0,female,right handed,college/bachelor degree,no,village,block of flats
1,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0,...,19.0,163.0,58.0,2.0,female,right handed,college/bachelor degree,no,city,block of flats
2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,3.0,...,20.0,176.0,67.0,2.0,female,right handed,secondary school,no,city,block of flats
3,5.0,3.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,...,22.0,172.0,59.0,1.0,female,right handed,college/bachelor degree,yes,city,house/bungalow
4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,1.0,...,20.0,170.0,59.0,1.0,female,right handed,secondary school,no,village,house/bungalow
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,5.0,2.0,5.0,2.0,2.0,5.0,4.0,4.0,4.0,3.0,...,20.0,164.0,57.0,1.0,female,right handed,secondary school,no,city,house/bungalow
1006,4.0,4.0,5.0,1.0,3.0,4.0,1.0,4.0,1.0,1.0,...,27.0,183.0,80.0,5.0,male,left handed,masters degree,no,village,house/bungalow
1007,4.0,3.0,1.0,1.0,2.0,2.0,2.0,3.0,4.0,1.0,...,18.0,173.0,75.0,0.0,female,right handed,secondary school,yes,city,block of flats
1008,5.0,3.0,3.0,3.0,1.0,3.0,1.0,3.0,4.0,1.0,...,25.0,173.0,58.0,1.0,female,right handed,college/bachelor degree,no,city,block of flats
1009,5.0,5.0,4.0,3.0,2.0,3.0,3.0,4.0,1.0,1.0,...,21.0,185.0,72.0,1.0,male,right handed,secondary school,no,village,house/bungalow

## 2.2 Вывод первых n элементов таблицы

In [8]:
df_responses.head(5)

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Age,Height,Weight,Number of siblings,Gender,Left - right handed,Education,Only child,Village - town,House - block of flats
0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0,...,20.0,163.0,48.0,1.0,female,right handed,college/bachelor degree,no,village,block of flats
1,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0,...,19.0,163.0,58.0,2.0,female,right handed,college/bachelor degree,no,city,block of flats
2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,3.0,...,20.0,176.0,67.0,2.0,female,right handed,secondary school,no,city,block of flats
3,5.0,3.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,...,22.0,172.0,59.0,1.0,female,right handed,college/bachelor degree,yes,city,house/bungalow
4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,1.0,...,20.0,170.0,59.0,1.0,female,right handed,secondary school,no,village,house/bungalow

## 2.3 Вывод последних n элементов таблицы

In [9]:
df_responses.tail(5)

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Age,Height,Weight,Number of siblings,Gender,Left - right handed,Education,Only child,Village - town,House - block of flats
1005,5.0,2.0,5.0,2.0,2.0,5.0,4.0,4.0,4.0,3.0,...,20.0,164.0,57.0,1.0,female,right handed,secondary school,no,city,house/bungalow
1006,4.0,4.0,5.0,1.0,3.0,4.0,1.0,4.0,1.0,1.0,...,27.0,183.0,80.0,5.0,male,left handed,masters degree,no,village,house/bungalow
1007,4.0,3.0,1.0,1.0,2.0,2.0,2.0,3.0,4.0,1.0,...,18.0,173.0,75.0,0.0,female,right handed,secondary school,yes,city,block of flats
1008,5.0,3.0,3.0,3.0,1.0,3.0,1.0,3.0,4.0,1.0,...,25.0,173.0,58.0,1.0,female,right handed,college/bachelor degree,no,city,block of flats
1009,5.0,5.0,4.0,3.0,2.0,3.0,3.0,4.0,1.0,1.0,...,21.0,185.0,72.0,1.0,male,right handed,secondary school,no,village,house/bungalow

## 2.4 .describe()

In [10]:
df_responses.describe() # returns description of the data in the DataFrame

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Shopping centres,Branded clothing,Entertainment spending,Spending on looks,Spending on gadgets,Spending on healthy eating,Age,Height,Weight,Number of siblings
count,1007.000000,1008.000000,1006.000000,1005.000000,1005.000000,1003.000000,1008.000000,1007.000000,1004.000000,1007.000000,...,1008.000000,1008.000000,1007.000000,1007.000000,1010.000000,1008.00000,1003.000000,990.000000,990.000000,1004.000000
mean,4.731877,3.328373,3.113320,2.288557,2.123383,2.956132,2.761905,3.471698,3.761952,2.361470,...,3.234127,3.050595,3.201589,3.106256,2.870297,3.55754,20.433699,173.514141,66.405051,1.297809
std,0.664049,0.833931,1.170568,1.138916,1.076136,1.252570,1.260845,1.161400,1.184861,1.372995,...,1.323062,1.306321,1.188947,1.205368,1.284970,1.09375,2.828840,10.024505,13.839561,1.013348
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,15.000000,62.000000,41.000000,0.000000
25%,5.000000,3.000000,2.000000,1.000000,1.000000,2.000000,2.000000,3.000000,3.000000,1.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,3.00000,19.000000,167.000000,55.000000,1.000000
50%,5.000000,3.000000,3.000000,2.000000,2.000000,3.000000,3.000000,4.000000,4.000000,2.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,4.00000,20.000000,173.000000,64.000000,1.000000
75%,5.000000,4.000000,4.000000,3.000000,3.000000,4.000000,4.000000,4.000000,5.000000,3.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.00000,22.000000,180.000000,75.000000,2.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,30.000000,203.000000,165.000000,10.000000

In [11]:
df_responses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1010 entries, 0 to 1009
Columns: 150 entries, Music to House - block of flats
dtypes: float64(134), int64(5), object(11)
memory usage: 1.2+ MB

## 2.5 считывание значения конкретной ячейки (с конкретным индексом из конкретной колонки) всеми известными вам способами

In [12]:
df_responses.loc[0, 'Dance']

2.0

In [13]:
df_responses.iloc[0, 2]

2.0


## 2.6 фильтрация строк по диапазону индекса

In [14]:
df_responses.iloc[5:10]

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Age,Height,Weight,Number of siblings,Gender,Left - right handed,Education,Only child,Village - town,House - block of flats
5,5.0,3.0,2.0,3.0,2.0,3.0,3.0,2.0,5.0,5.0,...,20.0,186.0,77.0,1.0,male,right handed,secondary school,no,city,block of flats
6,5.0,5.0,5.0,3.0,1.0,2.0,2.0,5.0,3.0,1.0,...,20.0,177.0,50.0,1.0,female,right handed,secondary school,no,village,house/bungalow
7,5.0,3.0,3.0,2.0,1.0,2.0,2.0,4.0,5.0,1.0,...,19.0,184.0,90.0,1.0,male,right handed,college/bachelor degree,no,city,house/bungalow
8,5.0,3.0,3.0,1.0,1.0,2.0,4.0,3.0,5.0,5.0,...,18.0,166.0,55.0,1.0,female,right handed,secondary school,no,city,house/bungalow
9,5.0,3.0,2.0,5.0,2.0,2.0,5.0,3.0,5.0,2.0,...,19.0,174.0,60.0,3.0,female,right handed,secondary school,no,city,block of flats

## 2.7 фильтрация набора данных по какому-либо условию

In [15]:
df_responses.loc[df_responses.Music == 1.0].head(4)

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Age,Height,Weight,Number of siblings,Gender,Left - right handed,Education,Only child,Village - town,House - block of flats
15,1.0,3.0,2.0,2.0,3.0,4.0,3.0,3.0,5.0,5.0,...,18.0,177.0,77.0,0.0,male,right handed,secondary school,yes,city,block of flats
145,1.0,4.0,4.0,1.0,1.0,2.0,2.0,2.0,4.0,1.0,...,19.0,165.0,78.0,1.0,female,right handed,secondary school,no,village,house/bungalow
215,1.0,3.0,2.0,2.0,1.0,1.0,1.0,3.0,1.0,1.0,...,27.0,180.0,80.0,2.0,male,right handed,secondary school,no,city,block of flats
236,1.0,3.0,3.0,3.0,2.0,3.0,5.0,4.0,4.0,3.0,...,19.0,171.0,57.0,0.0,female,right handed,secondary school,yes,city,block of flats

In [16]:
df_responses.loc[df_responses['Classical music'] == 4.0].head(4)

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Age,Height,Weight,Number of siblings,Gender,Left - right handed,Education,Only child,Village - town,House - block of flats
2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,3.0,...,20.0,176.0,67.0,2.0,female,right handed,secondary school,no,city,block of flats
4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,1.0,...,20.0,170.0,59.0,1.0,female,right handed,secondary school,no,village,house/bungalow
11,5.0,3.0,1.0,1.0,1.0,4.0,1.0,2.0,5.0,1.0,...,17.0,176.0,60.0,1.0,female,right handed,primary school,no,city,block of flats
12,5.0,3.0,1.0,2.0,1.0,4.0,3.0,3.0,5.0,4.0,...,24.0,168.0,55.0,10.0,female,right handed,college/bachelor degree,no,city,block of flats

## 2.8. работа с пропущенными значениями (если они есть): удаление строк с пропущенными значениями, заполнение пропущенных значений средним значением по колонке. Если пропущенных значений нет — намеренно их "генерируете", прибивая какие-то куски данных в np.nan

In [17]:
# Посмотрим на NaN
df_responses.isna().sum()

Music                       3
Slow songs or fast songs    2
Dance                       4
Folk                        5
Country                     5
                           ..
Left - right handed         3
Education                   1
Only child                  2
Village - town              4
House - block of flats      4
Length: 150, dtype: int64

In [18]:
df_responses.mean().round()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Music                           5.0
Slow songs or fast songs        3.0
Dance                           3.0
Folk                            2.0
Country                         2.0
                              ...
Spending on healthy eating      4.0
Age                            20.0
Height                        174.0
Weight                         66.0
Number of siblings              1.0
Length: 139, dtype: float64

In [19]:
# Заполнили численные признаки
data = df_responses.fillna(df_responses.mean().round())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

In [20]:
data.isna().sum()

Music                       0
Slow songs or fast songs    0
Dance                       0
Folk                        0
Country                     0
                           ..
Left - right handed         3
Education                   1
Only child                  2
Village - town              4
House - block of flats      4
Length: 150, dtype: int64

In [21]:
# tmp1=df_responses.isna().any(1)
# df_responses[tmp1].head(1000)
# # df_responses.fillna(df_responses.mean())[tmp1].head(10)
# # tmp1

## 2.9. создание нового поля вычисленного на основе значений других полей:

### *2.9.1. Через выражение на базе имеющихся колонок*

In [22]:
data['Music']

0       5.0
1       4.0
2       5.0
3       5.0
4       5.0
       ...
1005    5.0
1006    4.0
1007    4.0
1008    5.0
1009    5.0
Name: Music, Length: 1010, dtype: float64

In [23]:
data['Music2'] = data['Music']
data.head(1)

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Height,Weight,Number of siblings,Gender,Left - right handed,Education,Only child,Village - town,House - block of flats,Music2
0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0,...,163.0,48.0,1.0,female,right handed,college/bachelor degree,no,village,block of flats,5.0

### *2.9.2 через DataFrame.apply*

In [24]:
data['Body mass index'] = data.apply(lambda x: x['Weight']/(x['Height']/100*x['Height']/100) , axis=1)  # индекс массы тела
data['Body mass index']

0       18.066167
1       21.829952
2       21.629649
3       19.943213
4       20.415225
          ...
1005    21.192742
1006    23.888441
1007    25.059307
1008    19.379197
1009    21.037253
Name: Body mass index, Length: 1010, dtype: float64

 ### *2.9.3 через Series.apply*

In [25]:
data['Gender'].unique()

array(['female', 'male', nan], dtype=object)

In [26]:
 def binagy_gender (gender):
   if gender == 'male':
    return 1
   else:
    return 0


 data['binary gender'] = data['Gender'].apply(binagy_gender)

In [27]:
data.head(1)

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Number of siblings,Gender,Left - right handed,Education,Only child,Village - town,House - block of flats,Music2,Body mass index,binary gender
0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0,...,1.0,female,right handed,college/bachelor degree,no,village,block of flats,5.0,18.066167,0

### *2.10 Cортировка по какому-либо из полей*

In [47]:
data.sort_values('Body mass index').iloc[:,140:].tail(5)

,Age,Height,Weight,Number of siblings,Gender,Left - right handed,Education,Only child,Village - town,House - block of flats,Music2,Body mass index,binary gender
612,23.0,172.0,110.0,2.0,male,right handed,secondary school,no,village,block of flats,5.0,37.182261,1
992,30.0,200.0,150.0,1.0,male,right handed,masters degree,no,city,block of flats,4.0,37.500000,1
973,20.0,175.0,120.0,2.0,female,right handed,secondary school,no,city,block of flats,5.0,39.183673,0
885,23.0,174.0,165.0,0.0,female,right handed,secondary school,yes,city,house/bungalow,3.0,54.498613,0
676,20.0,62.0,55.0,2.0,female,right handed,college/bachelor degree,no,city,house/bungalow,5.0,143.080125,0

Довольно интересно, что с наибольшим индексом массы тела оказалась девушка 20 лет с ростом 62 см и весом 55 кг

### *2.11 вычислить несколько статистик по колонкам (используйте встроенные агрегатные функции — любые на выбор)*

In [48]:
[data['Body mass index'].min(), data['Body mass index'].max(), data['Body mass index'].mean(), data['Body mass index'].std()]

[15.495867768595042, 143.08012486992718, 21.993977844207976, 4.992222632584462]

### *2.12 .value_counts()*

In [51]:
data.value_counts(normalize=True) # Возвращает Series, в котором указано встречаемость уникальных значений

Music  Slow songs or fast songs  Dance  Folk  Country  Classical music  Musical  Pop  Rock  Metal or Hardrock  Punk  Hiphop, Rap  Reggae, Ska  Swing, Jazz  Rock n roll  Alternative  Latino  Techno, Trance  Opera  Movies  Horror  Thriller  Comedy  Romantic  Sci-fi  War  Fantasy/Fairy tales  Animated  Documentary  Western  Action  History  Psychology  Politics  Mathematics  Physics  Internet  PC   Economy Management  Biology  Chemistry  Reading  Geography  Foreign languages  Medicine  Law  Cars  Art exhibitions  Religion  Countryside, outdoors  Dancing  Musical instruments  Writing  Passive sport  Active sport  Gardening  Celebrities  Shopping  Science and technology  Theatre  Fun with friends  Adrenaline sports  Pets  Flying  Storm  Darkness  Heights  Spiders  Snakes  Rats  Ageing  Dangerous dogs  Fear of public speaking  Smoking         Alcohol         Healthy eating  Daily events  Prioritising workload  Writing notes  Workaholism  Thinking ahead  Final judgement  Reliability  Keeping promises  Loss of interest  Friends versus money  Funniness  Fake  Criminal damage  Decision making  Elections  Self-criticism  Judgment calls  Hypochondria  Empathy  Eating to survive  Giving  Compassion to animals  Borrowed stuff  Loneliness  Cheating in school  Health  Changing the past  God  Dreams  Charity  Number of friends  Punctuality              Lying                          Waiting  New environment  Mood swings  Appearence and gestures  Socializing  Achievements  Responding to a serious letter  Children  Assertiveness  Getting angry  Knowing the right people  Public speaking  Unpopularity  Life struggles  Happiness in life  Energy levels  Small - big dogs  Personality  Finding lost valuables  Getting up  Interests or hobbies  Parents' advice  Questionnaires or polls  Internet usage           Finances  Shopping centres  Branded clothing  Entertainment spending  Spending on looks  Spending on gadgets  Spending on healthy eating  Age   Height  Weight  Number of siblings  Gender  Left - right handed  Education                Only child  Village - town  House - block of flats  Music2  Body mass index  binary gender
1.0    1.0                       1.0    1.0   1.0      1.0              1.0      1.0  1.0   1.0                1.0   1.0          1.0          1.0          1.0          1.0          1.0     1.0             1.0    4.0     4.0     3.0       3.0     2.0       2.0     1.0  1.0                  5.0       5.0          4.0      3.0     1.0      2.0         3.0       2.0          3.0      4.0       3.0  2.0                 1.0      2.0        3.0      4.0        3.0                2.0       1.0  2.0   3.0              4.0       5.0                    4.0      3.0                  2.0      1.0            2.0           3.0        4.0          5.0       4.0                     3.0      2.0               1.0                2.0   1.0     2.0    3.0       4.0      5.0      4       3.0   2.0     1.0             2.0                      former smoker   social drinker  1.0             2.0           3.0                    4.0            5.0          4.0             3.0              2.0          1.0               2.0               3.0                   4.0        5.0   4.0              3.0              2.0        1.0             2.0             3.0           4.0      5                  4.0     3.0                    2.0             1.0         2.0                 3.0     4.0                5.0  4       3.0      2                  i am often early         only to avoid hurting someone  3.0      4.0              5.0          4.0                      3.0          2.0           1.0                             2.0       3.0            4.0            5.0                       4.0              3.0           2.0             1.0                2.0            3.0               4.0          5.0                     4.0         3.0                   2.0              1.0                      less than an hour a day  3.0       4.0               5.0               4.0                     3.0                2                    1.0                         16.0  170.0   54.0    2.0                 female  right handed         college/bachelor degree  no          city            house/bungalow          1.0     18.685121        0                0.001025
5.0    3.0                       4.0    5.0   3.0      4.0              2.0      4.0  4.0   2.0                2.0   2.0          2.0          4.0          4.0          2.0          5.0     2.0             2.0    4.0     4.0     5.0       3.0     5.0       1.0     5.0  2.0                  2.0       4.0          1.0      1.0     3.0      2.0         2.0       4.0          1.0      4.0       2.0  5.0                 2.0      2.0        4.0      2.0        5.0                2.0       2.0  2.0   2.0              4.0       4.0                    3.0      5.0                  1.0      3.0            5.0           1.0        2.0          3.0       2.0                     2.0      5.0               4.0                1.0   1.0     2.0    2.0       2.0      5.0      4       5.0   3.0     5.0             5.0                      tried smoking   social drinker  4.0             3.0           2.0                    5.0            2.0          4.0             4.0              5.0          5.0               3.0               5.0                   4.0        2.0   2.0              5.0              5.0        5.0             5.0             1.0           5.0      1                  1.0     4.0                    5.0             4.0         5.0                 3.0     5.0                5.0  3       2.0      3                  i am often early         sometimes                      1.0      1.0              4.0          3.0                      1.0          3.0           2.0                             5.0       2.0            5.0            3.0                       5.0              5.0           3.0             3.0                3.0            1.0               2.0          4.0                     5.0         3.0                   3.0              3.0                      few hours a day          5.0       2.0               5.0               3.0                     4.0                2                    3.0                         21.0  179.0   60.0    1.0                 female  right handed         secondary school         no          city            block of flats          5.0     18.726007        0                0.001025
                                 5.0    1.0   1.0      1.0              1.0      3.0  2.0   1.0                1.0   5.0          3.0          1.0          1.0          1.0          1.0     4.0             1.0    5.0     5.0     3.0       5.0     2.0       5.0     5.0  4.0                  4.0       2.0          3.0      5.0     2.0      2.0         2.0       1.0          1.0      4.0       4.0  3.0                 5.0      4.0        1.0      3.0        5.0                3.0       1.0  4.0   1.0              1.0       2.0                    5.0      2.0                  1.0      3.0            4.0           1.0        3.0          4.0       4.0                     1.0      5.0               3.0                4.0   1.0     1.0    2.0       2.0      4.0      4       3.0   2.0     3.0             1.0                      never smoked    never           2.0             3.0           3.0                    1.0            2.0          5.0             3.0              3.0          4.0               5.0               5.0                   3.0        1.0   5.0              4.0              1.0        4.0             4.0             3.0           4.0      2                  4.0     5.0                    5.0             3.0         5.0                 3.0     1.0                1.0  4       4.0      4                  i am often early         sometimes                      2.0      5.0              4.0          5.0                      3.0          2.0           4.0                             3.0       4.0            3.0            3.0                       2.0              4.0           1.0             4.0                4.0            4.0               4.0          2.0                     4.0         3.0                   2.0              3.0                      few hours a day          3.0       3.0               5.0               2.0                     4.0                2                    2.0                         15.0  181.0   63.0    0.0                 male    right handed         primary school           yes         city            block of flats          5.0     19.230182        1                0.001025
                                                                                      4.0   1.0                3.0   5.0          2.0          1.0          4.0          3.0          2.0     3.0             1.0    5.0     3.0     3.0       5.0     3.0       1.0     5.0  4.0                  4.0       3.0          4.0      4.0     5.0      1.0         1.0       1.0          2.0      5.0       2.0  1.0                 1.0      1.0        1.0      4.0        4.0                2.0       3.0  5.0   1.0              1.0       3.0                    3.0      1.0                  1.0      5.0            5.0           1.0        3.0          5.0       3.0                     1.0      5.0               4.0                3.0   1.0     1.0    2.0       4.0      4.0      4       3.0   4.0     1.0             2.0                      former smoker   social drinker  5.0             4.0           3.0                    4.0            3.0          4.0             2.0              4.0          4.0               4.0               2.0                   4.0        2.0   5.0              2.0              3.0        2.0             5.0             2.0           5.0      1                  4.0     3.0                    4.0             3.0         5.0                 3.0     1.0                2.0  4       2.0      5                  i am always on time      sometimes                      3.0      5.0              2.0          5.0                      4.0          2.0           4.0                             4.0       5.0            1.0            5.0                       4.0              4.0           1.0             5.0                5.0            5.0               5.0          2.0                     5.0         5.0                   3.0              1.0                      few hours a day          3.0       4.0               5.0               3.0                     4.0                1                    5.0                         20.0  187.0   80.0    2.0                 male    left handed          secondary school         yes         village         house/bungalow          5.0     22.877406        1                0.001025
                                                                                 5.0  3.0   1.0                2.0   4.0          4.0          1.0          2.0          3.0          1.0     3.0             1.0    5.0     2.0     3.0       5.0     5.0       4.0     4.0  5.0                  5.0       3.0          1.0      4.0     1.0      5.0         1.0       1.0          1.0      4.0       2.0  1.0                 5.0      2.0        1.0      5.0        4.0                3.0       2.0  5.0   3.0              3.0       3.0                    4.0      1.0                  1.0      3.0            5.0           2.0        3.0          4.0       2.0                     4.0      4.0               1.0                5.0   1.0     1.0    5.0       2.0      1.0      1       1.0   5.0     1.0             4.0                      tried smoking   social drinker  3.0             3.0           1.0                    1.0            1.0          5.0             3.0              3.0          5.0               4.0               4.0                   1.0        1.0   5.0              5.0              1.0        5.0             4.0             1.0           5.0      1                  3.0     5.0                    5.0             3.0         5.0                 4.0     4.0                4.0  3       2.0      3                  i am always on time      sometimes                      3.0      5.0              5.0          5.0                      4.0          2.0           1.0                             5.0       3.0            5.0            4.0                       5.0              4.0           5.0             3.0                5.0            3.0               3.0          3.0                     5.0         1.0                   4.0              5.0                      few hours a day          4.0       5.0               3.0               3.0                     4.0                4                    3.0                         19.0  163.0   56.0    1.0                 female  right handed         secondary school         no          city            house/bungalow          5.0     21.077195        0                0.001025
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ...
                                 2.0    2.0   2.0      2.0              4.0      4.0  3.0   1.0                1.0   1.0          1.0          3.0          2.0          2.0          4.0     1.0             3.0    5.0     4.0     4.0       5.0     5.0       4.0     1.0  4.0                  5.0       2.0          1.0      5.0     1.0      5.0         1.0       1.0          1.0      5.0       4.0  1.0                 3.0      1.0        2.0      3.0        5.0                3.0       1.0  1.0   4.0              5.0       4.0                    1.0      3.0                  1.0      4.0            3.0           2.0        3.0          4.0       4.0                     4.0      5.0               1.0                3.0   1.0     2.0    3.0       3.0      5.0      4       3.0   1.0     3.0             3.0                      never smoked    never           4.0             3.0           4.0                    5.0            4.0          4.0             3.0              5.0          5.0               1.0               4.0                   3.0        2.0   1.0              2.0              1.0        2.0             3.0             1.0           4.0      2                  2.0     4.0                    4.0             1.0         2.0                 1.0     1.0                5.0  3       2.0      4                  i am often early         never                          3.0      4.0              3.0          3.0                      4.0          2.0           4.0                             5.0       3.0            2.0            3.0                       4.0              3.0           2.0             4.0                4.0            4.0               4.0          4.0                     5.0         4.0                   4.0              4.0                      few hours a day          3.0       5.0               4.0               3.0                     4.0                4                    5.0                         20.0  173.0   66.0    1.0                 female  right handed         secondary school         no          village         house/bungalow          5.0     22.052190        0                0.001025
                                                                        5.0      5.0  5.0   2.0                4.0   4.0          2.0          2.0          3.0          3.0          5.0     1.0             1.0    5.0     4.0     5.0       5.0     5.0       3.0     3.0  5.0                  5.0       4.0          2.0      5.0     3.0      2.0         1.0       1.0          1.0      4.0       3.0  1.0                 1.0      1.0        2.0      2.0        3.0                1.0       1.0  3.0   1.0              2.0       5.0                    3.0      3.0                  1.0      4.0            3.0           2.0        2.0          3.0       1.0                     2.0      5.0               4.0                2.0   1.0     3.0    3.0       3.0      5.0      5       4.0   3.0     4.0             4.0                      former smoker   social drinker  4.0             2.0           3.0                    4.0            2.0          3.0             3.0              4.0          3.0               1.0               5.0                   4.0        4.0   4.0              4.0              2.0        2.0             3.0             1.0           5.0      2                  3.0     5.0                    5.0             5.0         5.0                 4.0     5.0                5.0  3       2.0      5                  i am always on time      everytime it suits me          2.0      3.0              3.0          4.0                      4.0          3.0           3.0                             5.0       3.0            4.0            3.0                       5.0              3.0           5.0             3.0                4.0            4.0               3.0          4.0                     2.0         3.0                   3.0              1.0                      few hours a day          3.0       2.0               2.0               2.0                     2.0                2                    3.0                         28.0  168.0   52.0    1.0                 female  right handed         secondary school         no          city            block of flats          5.0     18.424036        0                0.001025

Судя по последнему столбцу, при высталенном флаге `normalize=True`, каждая строка уникальна


### *2.13 Вывод уникальных значений колонки через .unique()*

In [53]:
 data['House - block of flats'].unique()

array(['block of flats', 'house/bungalow', nan], dtype=object)

### 2.14 *Удалите текущий индекс и создайте новый индекс на базе новой колонки, которая для этого лучше всего подходит (индекс тут - упорядоченый уникальный идентификатор строки)*

200     18.066167
201     21.829952
202     21.629649
203     19.943213
204     20.415225
          ...
1205    21.192742
1206    23.888441
1207    25.059307
1208    19.379197
1209    21.037253
Name: Body mass index, Length: 1010, dtype: float64

In [59]:
data.index = data['Body mass index'] # остальные поля кроме Body mass index такой себе в качестве индекса
data

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Number of siblings,Gender,Left - right handed,Education,Only child,Village - town,House - block of flats,Music2,Body mass index,binary gender
Body mass index,,,,,,,,,,,,,,,,,,,,,
18.066167,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0,...,1.0,female,right handed,college/bachelor degree,no,village,block of flats,5.0,18.066167,0
21.829952,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0,...,2.0,female,right handed,college/bachelor degree,no,city,block of flats,4.0,21.829952,0
21.629649,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,3.0,...,2.0,female,right handed,secondary school,no,city,block of flats,5.0,21.629649,0
19.943213,5.0,3.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,...,1.0,female,right handed,college/bachelor degree,yes,city,house/bungalow,5.0,19.943213,0
20.415225,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,1.0,...,1.0,female,right handed,secondary school,no,village,house/bungalow,5.0,20.415225,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21.192742,5.0,2.0,5.0,2.0,2.0,5.0,4.0,4.0,4.0,3.0,...,1.0,female,right handed,secondary school,no,city,house/bungalow,5.0,21.192742,0
23.888441,4.0,4.0,5.0,1.0,3.0,4.0,1.0,4.0,1.0,1.0,...,5.0,male,left handed,masters degree,no,village,house/bungalow,4.0,23.888441,1
25.059307,4.0,3.0,1.0,1.0,2.0,2.0,2.0,3.0,4.0,1.0,...,0.0,female,right handed,secondary school,yes,city,block of flats,4.0,25.059307,0
19.379197,5.0,3.0,3.0,3.0,1.0,3.0,1.0,3.0,4.0,1.0,...,1.0,female,right handed,college/bachelor degree,no,city,block of flats,5.0,19.379197,0
21.037253,5.0,5.0,4.0,3.0,2.0,3.0,3.0,4.0,1.0,1.0,...,1.0,male,right handed,secondary school,no,village,house/bungalow,5.0,21.037253,1

## 3 Продемонстрировать работу .groupby, на основе группировок в groupby вычисляете агрегатные функции по одной или нескольким колонкам. Какую информацию о данных вы получили, выполнив данную операцию? Запишите ответ в комментариях.

In [87]:
df_columns[df_columns['original']=='I am 100% happy with my life.'] # Узнаем название поля в таблице data по заинтересовавшему описанию

                          original              short
123  I am 100% happy with my life.  Happiness in life

In [83]:
df_columns[df_columns['original']=='I live a very healthy lifestyle.'].short # Узнаем название поля в таблице data по заинтересовавшему описанию

                            original           short
75  I live a very healthy lifestyle.  Healthy eating

In [27]:
result = data[['Happiness in life', 'Popularity']]\
    .groupby('Happiness in life')\
    .mean()\
    .sort_values('Popularity', ascending=False)\
    .rename(columns={'Popularity': 'Average Popularity'})

result.head(5)

In [84]:
data[['Happiness in life', 'Healthy eating']]\
    .groupby('Happiness in life')\
    .mean()\
    .sort_values('Healthy eating', ascending=False)\

                   Healthy eating
Happiness in life
5.0                      3.239437
4.0                      3.058480
3.0                      2.943662
2.0                      2.881356
1.0                      2.250000

Интересным заключением оказался факт, что чем больше довольность своей жизнью у людей, то выше и уровень заботы о своём здоровье. Ну и соответтсвенно в обрантную сторону: чем лучше человек заботится о своём здоровье, тем выше у него уровень довольства собственной жизнью.

In [85]:
data[['Happiness in life', 'Healthy eating']]\
    .groupby('Healthy eating')\
    .mean()\
    .sort_values('Happiness in life', ascending=False)\

                Happiness in life
Healthy eating
4.0                      3.828452
5.0                      3.782609
3.0                      3.733728
2.0                      3.503650
1.0                      3.481481

## 4 Решейпинг данных 1Dto2D с помощью .pivot (можно подать на вход результаты агрегатов, полученных ранее через .groupby (сгруппировать по двум полям), либо прекрасно заходит сюда данные из SQL сгруппированные предварительно по 2-м полям). Какую информацию о данных вы получили, выполнив данную операцию? Запишите ответ в комментариях.

5 Решейпинг 1Dto2D данных соединённый с группировкой / агрегацией (одним словом — сводная таблица): .pivot_table. Группируем только по категориальным полям или числовым, если уверены, что значений немного! Если значений много, можете вначале из загрубить (см. (2.9.) либо (7)).
Перед тем как выполнять задание сформулируйте вопрос, на который собираетесь получить ответ с помощью сводной таблицы. Запишите этот вопрос в комментариях. Какую информацию о данных вы в результате получили?
https://pbpython.com/pandas-pivot-table-explained.html

6 Посчитать квантили распределения какого-либо вещественного признака (с помощью numpy.quantile или numpy.percentile)


7 Посчитать гистограмму какого-либо вещественного признака (с помощью numpy.histogram). Значения гистограммы можете использовать как вариант в качестве загрубленного числового признака для заданий (4) или (5).


8 Получить DataFrame с MultiIndex любым способом: через конструктор (в документации увидите множество видов конструкторов для создания MultiIndex с нуля), через read_sql / read_csv / read_excel, read_*, через pivot_table, через groupby или иными способами.

9 Переставить местами уровни индекса

10 Транспонировать таблицу (или создать новую другую) с MultiIndex

11 Удалить один из уровней индекса или добавить новый уровень индекса (можно инициализированный константой)

12 Продемонстировать работу .merge


13 Продемонстрировать работу с .concat или append

14 Проитерировать dataframe построчно .iterrows(). Выполните что-то имеющее смысл внутри цикла